.buttonWrapper {
  width: 180px;
  margin-left: auto;
  margin-right: 60px;
  @media screen and (max-width: 420px) {
    margin: 0 auto;
  }
}

.button {
  width: 100%;
  background: #000000;
  color: #ffffff;
  padding: 12px;
  border-radius: 8px;
  transition: 0.2s;
  &:hover {
    opacity: 0.7;
  }
}

.book {
  width: 400px;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  @media screen and (max-width: 420px) {
    width: 80%;
  }
}
