@import url("/fonts/stylesheet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .overflow-hidden {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}

.MuiCircularProgress-root {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
